body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-height: 100vh;
    position: relative;
    align-items: center;
    background-color: #003049;
    color: #fff8e7;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    text-align: start;
    color: #fcbf49;
    font-weight: 400;
}

#footer-content { /* displays image and text side-by-side */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

#csumb-logo {
    width: 70px;
    height: auto;
    border: 2px #fcbf49 solid;
    border-radius: 100%;
    margin-right: 10px;
}

hr {
    width: 100%;
    color: #fcbf49;
}

.banner {
    width:100%;
    position: relative;
    background-image: url('../img/flag_banner.png');
    background-size: 100% auto;
    background-position: center;
    font-weight: 600;
    color: #fff8e7;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002f495e;
    z-index: 0;
}

.banner_content{
    position: relative;
    z-index: 1; /* Ensure the text is above the overlay */
}


input {
    display:flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input[type="text"], input[type="number"],select,option {
    border: #003049 2px solid;
    border-radius: 7px;
    background-color: #fff8e7;
    color:#003049;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio" i] {
    background-color: #f77f00;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

input[type="radio"]+label {
    padding: 6px 12px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #fff8e7;
    color: #003049;
}

input[type="radio"]:checked+label {
    background-color: #003049;
    color: #fff8e7;
    transform: scale(1.1);
}

input[type="checkbox" i] {
    background-color: #f77f00;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input[type="checkbox"]+label {
    padding: 6px 12px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #fff8e7;
    color: #003049;
}

input[type="checkbox"]:checked+label {
    background-color: #003049;
    color: #fff8e7;
    transform: scale(1.1);
}

table,tr,td {
    margin: auto;
    table-layout: fixed;
    width: 75%;
}

td{
    margin: 10px;
}

.cell{
    border-radius: 20px;
    margin:10px;
    padding:10px;
    background-color: #eae2b7;
    color:#003049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    align-content: center;
}

.cell:hover, .large_cell:hover{
    background-color: #fcbf49;
    transform: translateY(-5px);
    transition: 0.4s ease;
}

.large_cell {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; /* This centers the content horizontally */
    margin: auto;
    text-align: center;
    width: 75%;
    border-radius: 20px;
    margin: 10px auto; /* Center the whole element */
    padding: 10px;
    background-color: #eae2b7;
    color:#003049;
}

#q11 {
    font-size: 2em;
    font-weight: 600;
}

.correct {
    color: #fff8e7;
    background-color: #74C365;
    padding:5px;
}

.incorrect {
    color: #fff8e7;
    background-color: #d62828;
    padding:5px;
}

.markImg {
    padding-right: 10px;
}

.feedback {
    display: inline;
    border-radius: 10px;
}

button {
    background-color: transparent;
    border: #f77f00 solid;
    color: #f77f00;
    border-radius: 20px;
    transition: all 0.5s ease;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: #f77f00;
    color: #fff8e7;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all 0.5s ease;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}
